<div>
<p>
    Doctor:<br>
    If you are new user then you have to <a href="/doctorRegister">signup</a> and then you can see the lists of patients appointed.<br>
    We have made the 8 slots of booking from 10:00 to 18:00 for booking the appointment<br>
    You can cancel the appointment of specific patient.<br>
    <br>
    <hr>
    Patient:<br>
    If you are new user then you have to <a href="/patientRegister">signup</a> and then you can see the lists of doctor available.<br>
    You can only book appointment from 10:00 to 18:00<br>
    You can cancel the appointment.<br>
