.vertical-center {
    margin-left:20% ;
    margin-top: 10%;
    position: absolute;
    border: 5px solid transparent;
    box-shadow: 5px 10px 5px 10px;
    width: 60%;
  }
  input{
      background-color: transparent;
      border:3px solid gray;
  }