<div class="information">
    Patient:
    <ul>
        <li>You can search for a doctor by specialization</li>
        <li>You can Shedule Appointment</li>
        <li>You can select available time slot</li>
    </ul>
    <table align="center">
        <tr>
            <td>Doctor</td>
            <td>Register your hospital now to get appointments <a href="/doctorRegister">Register</a></td>
        </tr>
        <tr>
            <td>Patient</td>
            <td>Register to get appointment slot <a href="/patientRegister">Register</a></td>
        </tr>
    </table>
        
        
</div>